html
  head
    title!= title
  link(href='css/bootstrap.min.css' rel='stylesheet')
  link(href='css/application.css' rel='stylesheet')
  script(src='jquery.js')
  script(src='popper.js')
  script(src='js/bootstrap.js')
  body
    .container
      .row
        .col
          table.table.table-striped.table-hover.table-sm.text-monospace.table-bordered
            thead
              tr
                th.text-center(scope="col") Player
                th.text-center(scope="col") Wins
                th.text-center(scope="col") Losses
                th.text-center(scope="col") Missing
                th.text-center(scope="col") Active
                th.text-center(scope="col") Win Percentage
            tbody
              mixin row(statistic, className)
                tr(class='font-weight-bold ' + className)
                  td= statistic.name
                  td.text-center= statistic.wins
                  td.text-center= statistic.losses
                  td.text-center= statistic.missing
                  td.text-center= statistic.active ? '-' : 'NO'
                  td.text-center= statistic.winRatio + "%"

              each statistic in statistics
                if statistic.winRatio >= 90
                  + row(statistic, 'text-success')
                else if statistic.winRatio >= 60
                  + row(statistic, 'text-info')
                else if statistic.winRatio >= 30
                  + row(statistic, 'text-warning')
                else
                  + row(statistic, 'text-danger')
