/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}

#members th {
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#members tr {
    text-align: center;
}

.table-striped-column > tbody > tr td:nth-of-type(even) {
  background-color:rgba(0,0,0,.05)
}
